@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  background-color: #000000;
  font-family: 'Inter', sans-serif;
  color: #EBEBEB;
  background-image: radial-gradient(circle at 1.5px 1.5px, rgba(255, 255, 255, 0.3) 1.5px, transparent 0);
  background-size: 23px 23px;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}